.footer {
    background-color: #F7F7F7;
    font-size: 14px;
    line-height: 1.14;
    color: var(--footer-text-color);
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;

    display: flex;
    text-align: center;
    justify-content: center;

    @media screen and (min-width: $tablet) {
            display: block;
        
        }
    }


.footer__container {
    @media screen and (min-width: $tablet) {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
    
        }
}    

.footer__link {
    color: var(--footer-text-color);
}

.footer__first-element {
    margin-bottom: 10px;    
    @media screen and (min-width: $tablet) {
            display: flex;
            margin-bottom: 0px;
    
        }
}

.footer__below-elements {
    display: flex;

    
}

.footer__dev {
    margin-right: 10px;
}

.footer__icon {
    margin-right: 10px;
    }


