// .gallery {
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;

// }

@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
@media screen and (min-width: 1024px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.card-set__item {
  cursor: pointer;
}

.card-link {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .card-set__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .card-set__item {
    width: 336px;
  }
}
@media screen and (min-width: 768px) {
  .card-set__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  .card-set__item.card-set__item:nth-child(-n + 2) {
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .card-set__item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  .card-set__item.card-set__item:nth-child(-n + 3) {
    margin-top: 0;
  }
}

.card-set__img {
  border-radius: 5px;
}

.card-set__title {
  margin-top: 10px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #000000;
}

.card-set__genre {
  justify-content: left;
  align-items: baseline;
  display: flex;
}

.card-set__genre,
.card-set__production-year {
  color: #ff6b08;
}

.card-set__description {
  align-items: baseline;
  display: flex;
}
