.empty-library {
  margin-top: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.empty-library__title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-orange-color);
  // box-shadow: 10px 10px 10px 3px var(--black-color);
}

.position {
  width: 100%;
  @media screen and (max-width: 768px) {
    width: 50%;
  }
  @media screen and (min-width: 1280px) {
    width: 35%;
  }
}
